:root {
  font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", Verdana, sans-serif;
}

input[type="url"] {
  border: 1px solid #999;
  padding: 0.2rem 0.4rem;
  width: 30vw;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="url"]:hover {
  border: 1px solid #666;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25);
}

.button {
  padding: 0.3rem 0.6rem;
  background-color: #eee;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #aaa;
  cursor: pointer;
}

.button:active {
  background-color: #5a5a5a;
}

.container {
  max-width: 100%;
}

a {
  color: #dc143c;
  background-color: #eee;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 0 0.4rem;
}

a:hover {
  color: #6e091e;
  transform: skew(0, 1deg);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

pre {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

span.result {
  display: inline-block;
  margin: 0.5rem 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label input[type="checkbox"] {
  display: inline-block;
  position: relative;
  top: 3px;
}

footer {
  background: #eee;
}

footer a {
  padding: 0;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }

  input[type="url"] {
    width: 100%;
    margin: 0.4rem 0;
    display: block;
  }

  .button {
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
  }
}

/*index.html*/

.web-spider-container {
  top: .4em;
  position: relative;
}

.web {
  font-size: 2em;
}

.spider-container {
  position: absolute;
  left: 0;
  animation: walk 2s infinite ease-in-out;
}

.left-right-container {
  position: absolute;
  animation: moveLeftRight 10s infinite linear;
}

.spider {
  position: absolute;
  font-size: .7em;
  animation: rotate 8s infinite ease-in-out;
  text-shadow: 1px 1px 0 #b91c1c;
}

@keyframes walk {
  0%, 100% {
    top: -80%;
  }
  50% {
    top: 15%;
  }
}

@keyframes moveLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1.5em);
  }
}

@keyframes rotate {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25%, 75% {
    transform: rotate(180deg);
  }
}
